{% extends "basic/layout.html" %}

{% if not theme_project_icon and favicon %}
    {% set theme_project_icon = pathto('_static/' ~ theme_touch_icon, 1) + favicon %}
{% endif %}

{%- block extrahead %}
  {{ super() }}
  {% if theme_touch_icon %}
    <link rel="apple-touch-icon" href="{{ pathto('_static/' ~ theme_touch_icon, 1) }}" />
  {% endif %}
  {% if theme_canonical_url %}
    <link rel="canonical" href="{{ theme_canonical_url }}{{ pagename }}.html"/>
  {% endif %}
  <meta name="viewport" content="width=device-width, initial-scale=0.9, maximum-scale=0.9" />
{% endblock %}

{%- block document %}
    <header>
        <div class="topnavbar">
            <div style="float:left;">
                {% if theme_project_icon %}
                    <img class="icon" src="{{ theme_project_icon }}"></img>
                {% endif %}
                <a href="{{ pathto(master_doc) }}" class="title">{{ project }}</a>
            </div>
            <div>
                {% for navbar_link in theme_navbar_links %}
                    <a href="{{ navbar_link[1] }}">{{ navbar_link[0] }}</a> <!-- class="active" -->
                {% endfor %}
            </div>
        </div>
        {% if theme_has_secondary_header == True and pagename not in theme_exclude_secondary_header_in %}
            <div class="topnavbar-sec">
                {% if theme_secondary_header_link %}
                    <a class="title" href="{{ theme_secondary_header_link[1] }}">{{ theme_secondary_header_link[0] }}</a>
                    <br/>
                {% endif %}
                <br/>
                <div class="search-container">
                    <form class="search" action="{{ pathto('search', 1) }}.html" method="get">
                        <input type="text" placeholder="Search..." name="q">
                    </form>
                </div>
            </div>
        {% else %}
            <div class="topnavbar-sec" style="padding:0;"></div>
        {% endif %}
    </header>
    <div class="documentwrapper" id="documentwrapper">
        <div class="bodywrapper">
                {% block body %} {% endblock %}
                </br>
                {% if theme_show_navigators %} 
                    {% if (pagename != 'index') or (pagename == 'index' and theme_show_navigators_in_index == True) %}
                        <hr/>
                        <div class="navigation">
                            {% if prev %}
                                    <a class="reference navigator" style="float:left;" href="{{ prev.link|e }}"><i class="fa fa-less-than"></i>{{ prev.title }}</a>
                            {% endif %}
                            {% if next %}
                                <a class="reference navigator" style="float:right;" href="{{ next.link|e }}">{{ next.title }}<i class="fa fa-greater-than"></i></a> 
                            {% endif %}      
                        </div>
                        <hr/>
                        </br>
                    {% endif %}
                {% endif %}
        </div>
        {% if theme_has_right_sidebar and not pagename.endswith(('.single')) and not pagename.endswith(('.left')) %}
            {% if (pagename != 'index') or (pagename == 'index' and not theme_index_is_single) %}
                {% if pagename not in theme_no_sidebar %}
                <div class="sidebar-right">
                    {% if pagename != 'genindex' %}
                        <h2>Page Contents</h2>
                        {{ toc }}
                    {% endif %}
                    <h2>{{ theme_toc_title }}</h2>
                    {{ toctree(maxdepth=1, titles_only=True, includehidden=True) }}
                    {% if pagename != 'genindex' %}
                        {% if prev %}
                            <h2>Previous topic</h2>
                            <a href="{{ prev.link|e }}">{{ prev.title }}</a>
                        {% endif %}
                        {% if next %}
                            <h2>Next topic</h2>
                            <a href="{{ next.link|e }}">{{ next.title }}</a>
                        {% endif %}
                        <h2>This Page</h2>
                        <a href="{{ pathto('_sources/', 1) }}{{ sourcename }}">Show source</a>
                    {% endif %}
                </div>
                {% endif %}
            {% endif %}
        {% endif %}
        <div style="clear:both"></div>
    </div> 
{%- endblock %}


{% block footer %}
    <div class="footer" role="contentinfo">
        
        <div class="social">
            {% for social_icon in theme_social_icons %}
                <a href="{{ social_icon[1] }}"><i class="{{ social_icon[0] }}"></i></a>
            {% endfor %}
        </div>
        
        <div class="footer-col1">
            {% for footer_menu in theme_footer_menus %}
                <div class="footer-col2">
                    <span class="footer-col2-title">{{ footer_menu.title }}</span>
                    <ul>
                        {% for footer_menu_item in footer_menu.menu_items %}
                            <li><a href="{{ footer_menu_item.link }}">{{ footer_menu_item.title }}</a></li>
                        {% endfor %}
                    </ul>
                </div>
            {% endfor %}
        </div>
        
        <div class="doc-sphinx-info">
            {%- if show_copyright %}
                {%- if hasdoc('copyright') %}
                    {% trans path=pathto('copyright'), copyright=copyright|e %}&copy; <a href="{{ path }}">Copyright</a> {{ copyright }}.{% endtrans %}
                {%- else %}
                    {% trans copyright=copyright|e %}&copy; Copyright {{ copyright }}.{% endtrans %}
                {%- endif %}
            {%- endif %}
            {%- if last_updated %}
                {% trans last_updated=last_updated|e %}Last updated on {{ last_updated }}.{% endtrans %}
            {%- endif %}
            {%- if show_sphinx %}
                {% trans sphinx_version=sphinx_version|e %}Created using <a href="http://sphinx.pocoo.org/">Sphinx</a> {{ sphinx_version }}
                with <a href="https://thecarisma.github.io/themata/fandango/index.html">fandango</a> theme.{% endtrans %}
            {%- endif %}
        </div>
    </div>
{% endblock %}

{# do not display relbars nor sidebars #}
{% block relbar1 %}{% endblock %}
{% block relbar2 %}{% endblock %}
{% block sidebar1 %}{% endblock %}
{% block sidebar2 %}{% endblock %}
