{% extends "basic/layout.html" %}

{% if not theme_project_icon and favicon %}
    {% set theme_project_icon = pathto('_static/' ~ theme_touch_icon, 1) + favicon %}
{% endif %}

{% if not title or "no title" in title %}
    {% if pagename == "index" %}
        {% set title = project %}
    {% else %}
        {% set title = pagename %}
    {% endif %}
{% endif %}

{%- block extrahead %}
  {{ super() }}
  {% if theme_touch_icon %}
    <link rel="apple-touch-icon" href="{{ pathto('_static/' ~ theme_touch_icon, 1) }}" />
  {% endif %}
  {% if theme_canonical_url %}
    <link rel="canonical" href="{{ theme_canonical_url }}{{ pagename }}.html"/>
  {% endif %}
    <meta name="viewport" content="width=device-width, initial-scale=0.9, maximum-scale=0.9" />
  {% if theme_metadata %}
    {% if theme_metadata.enable %}
    <meta name="description" content="{{ theme_metadata.description }}">
    <meta name="keywords" content="{{ theme_metadata.keywords }}">
    <meta name="author" content="{{ theme_metadata.author }}">
    <meta property="og:url" content="{{ theme_metadata.url }}{{ '' if theme_metadata.url.endswith('/') else '/' }}{{ pagename }}.html" />
    <meta property="og:type" content="{{ theme_metadata.type }}" />
    <meta property="og:title" content="{{ theme_metadata.title }}" />
    <meta property="og:description" content="{{ theme_metadata.description }}" />
    <meta property="og:image" content="{{ theme_metadata.image }}" />
    {% endif %}
  {% endif %}
  {% if theme_twitter_metadata %}
    {% if theme_twitter_metadata.enable %}
    <meta name="twitter:card" content="{{ theme_twitter_metadata.card }}" />
    <meta name="twitter:site" content="{{ theme_twitter_metadata.site }}" />
    <meta name="twitter:creator" content="{{ theme_twitter_metadata.creator }}" />
    <meta name="twitter:title" content="{{ theme_twitter_metadata.title }}" />
    <meta name="twitter:description" content="{{ theme_twitter_metadata.description }}" />
    <meta name="twitter:image" content="{{ theme_twitter_metadata.image }}" />
    {% endif %}
  {% endif %}
{% endblock %}

{%- block document %}
    <header>        
        <div class="topnavbar">
            {% if theme_project_icon %}
                <img class="icon" src="{{ theme_project_icon }}"></img>
            {% endif %}
            <a href="{{ pathto(master_doc) }}" class="title">{{ project }}</a>
            <div style="float:right;">
                {% for navbar_link in theme_navbar_links %}
                    <a href="{{ navbar_link[1] }}">{{ navbar_link[0] }}</a> <!-- class="active" -->
                {% endfor %}
            </div>
        </div>
        <div class="topnavbar-sec">
            {% for navbar_link in theme_navbar_sec_links %}
                <a href="{{ navbar_link[1] }}">{{ navbar_link[0] }}</a> <!-- class="active" -->
            {% endfor %}
            <div class="search-container">
                <form class="search" action="{{ pathto('search', 1) }}.html" method="get">
                    <input type="text" placeholder="" name="q">
                    <button type="submit"><i class="fa fa-search"></i></button>
                </form>
            </div>
        </div>
    </header>
    <div class="documentwrapper">
        {% set single_page = True %}
        {% if theme_has_left_sidebar and not pagename.endswith(('.single')) and not pagename.endswith(('.right')) %}
            {% if (pagename != 'index') or (pagename == 'index' and not theme_index_is_single) %}
                {% if pagename not in theme_right_sidebar_only and pagename not in theme_no_sidebar %}
                {% set single_page = False %}
                <div class="sidebar-left">
                    </br>
                    {{ toctree(maxdepth=1, titles_only=True, includehidden=True) }}
                </div>
                {% endif %}
            {% endif %}
        {% endif %}
        {% if single_page == True %}
            <style>
                .bodywrapper {
                    width: 100%;
                }
            </style>
        {% endif %}
        <div class="bodywrapper">
                {% block body %} {% endblock %}
                
                </br>
                {% if theme_show_navigators %} 
                    {% if (pagename != 'index') or (pagename == 'index' and theme_show_navigators_in_index == True) %}
                        <div class="navigation">
                            {% if theme_source_root != '' %}
                                <a class="reference navigator" style="float:left;" href="{{ theme_source_root }}/{{ pagename }}.rst"><i class="fa fa-pen"></i>{{ theme_source_root_edit_text }}</a>    
                            {% endif %}
                            <a class="reference navigator" style="float:left;" href="{{ pathto('genindex') }}"><i class="fa fa-book"></i>Index</a>
                            
                            {% if next %}
                                <a class="reference navigator" style="float:right;" href="{{ next.link|e }}">{{ next.title }}<i class="fa fa-arrow-right"></i></a> 
                            {% endif %}
                            {% if prev %}
                                <a class="reference navigator" style="float:right;" href="{{ prev.link|e }}"><i class="fa fa-arrow-left"></i>{{ prev.title }}</a>
                            {% endif %}
                        </div>
                    {% endif %}
                {% endif %}
        </div>
        {% if theme_has_right_sidebar and not pagename.endswith(('.single')) and not pagename.endswith(('.left')) %}
            {% if (pagename != 'index') or (pagename == 'index' and not theme_index_is_single) %}
                {% if pagename not in theme_left_sidebar_only and pagename not in theme_no_sidebar %}
                <div class="sidebar-right">
                    {% if pagename != 'genindex' %}
                        <h2>Page Contents</h2>
                        {{ toc }}
                        {% if prev %}
                            <h2>Previous topic</h2>
                            <a href="{{ prev.link|e }}">{{ prev.title }}</a>
                        {% endif %}
                        {% if next %}
                            <h2>Next topic</h2>
                            <a href="{{ next.link|e }}">{{ next.title }}</a>
                        {% endif %}
                        <h2>This Page</h2>
                        <a href="{{ pathto('_sources/', 1) }}{{ sourcename }}">Show source</a>
                        {% if theme_source_root != '' %}
                            <br/><a style="line-height: 25px;" href="{{ theme_source_root }}/{{ pagename }}.rst">{{ theme_source_root_edit_text }}</a>
                        {% endif %}
                    {% endif %}
                </div>
                {% endif %}
            {% endif %}
        {% endif %}
        <div style="clear:both"></div>
    </div> 
{%- endblock %}


{% block footer %}
    <div class="footer" role="contentinfo">
        <div class="social">
            {% for social_icon in theme_social_icons %}
                <a href="{{ social_icon[1] }}"><i class="{{ social_icon[0] }}"></i></a>
            {% endfor %}
        </div>
        <div class="footer-col1">
            {% for footer_menu in theme_footer_menus %}
                <div class="footer-col2">
                    <span class="footer-col2-title"><i class="fa fa-menu {{ footer_menu.icon }}"></i>{{ footer_menu.title }}</span>
                    <ul>
                        {% for footer_menu_item in footer_menu.menu_items %}
                            <li><a href="{{ footer_menu_item.link }}"><i class="fa fa-menu fa-chevron-right"></i>{{ footer_menu_item.title }}</a></li>
                        {% endfor %}
                    </ul>
                </div>
            {% endfor %}
        </div>
        
        
        <div class="doc-sphinx-info">
            {%- if show_copyright %}
                {%- if hasdoc('copyright') %}
                    {% trans path=pathto('copyright'), copyright=copyright|e %}&copy; <a href="{{ path }}">Copyright</a> {{ copyright }}.{% endtrans %}
                {%- else %}
                    {% trans copyright=copyright|e %}&copy; Copyright {{ copyright }}.{% endtrans %}
                {%- endif %}
            {%- endif %}
            {%- if last_updated %}
                {% trans last_updated=last_updated|e %}Last updated on {{ last_updated }}.{% endtrans %}
            {%- endif %}
            {%- if show_sphinx %}
                {% trans sphinx_version=sphinx_version|e %}Created using <a href="http://sphinx.pocoo.org/">Sphinx</a> {{ sphinx_version }}
                with <a href="https://thecarisma.github.io/themata/sugar/index.html">sugar</a> theme.{% endtrans %}
            {%- endif %}
        </div>
    </div>
    {% if theme_collapsible_sidebar != False %}
        <script>
            var coll = document.getElementsByClassName("caption");
            var i;

            for (i = 0; i < coll.length; i++) {
              coll[i].addEventListener("click", function() {
                this.classList.toggle("active");
                var content = this.nextElementSibling;
                if (content.style.display === "block") {
                  content.style.display = "none";
                } else {
                  content.style.display = "block";
                }
              });
            }
            </script>
    {% endif %}
{% endblock %}

{# do not display relbars nor sidebars #}
{% block relbar1 %}{% endblock %}
{% block relbar2 %}{% endblock %}
{% block sidebar1 %}{% endblock %}
{% block sidebar2 %}{% endblock %}
