{% extends "basic/layout.html" %}
{%- block extrahead %}
  {{ super() }}
  {% if theme_touch_icon %}
    <link rel="apple-touch-icon" href="{{ pathto('_static/' ~ theme_touch_icon, 1) }}" />
  {% endif %}
  {% if theme_canonical_url %}
    <link rel="canonical" href="{{ theme_canonical_url }}{{ pagename }}.html"/>
  {% endif %}
  <meta name="viewport" content="width=device-width, initial-scale=0.9, maximum-scale=0.9" />
{% endblock %}

{%- block document %}
    <header>
        <div class="topnavbar">
            <!--<img class="icon" src="_static/images/white.jpg"></img> later-->
            <a href="{{ pathto(master_doc) }}" class="title">{{ project }}</a>
            {% for navbar_link in theme_navbar_links %}
                <a href="{{ navbar_link[1] }}">{{ navbar_link[0] }}</a> <!-- class="active" -->
            {% endfor %}
            <div class="search-container">
                <form class="search" action="search.html" method="get">
                    <button type="submit"><i class="fa fa-search"></i></button>
                    <input type="text" placeholder="" name="q">
                </form>
            </div>
        </div>
    </header>
    <div class="documentwrapper">
        {% if theme_has_left_sidebar %}
            <div class="sidebar-left">
                Hello
                {{ toctree(maxdepth=1, titles_only=True) }}
            </div>
        {% endif %}
        <div class="bodywrapper">
                {% block body %} {% endblock %}
                
                </br>
                <div class="navigation">
                    <div style="float:right">
                        {% if prev %}
                            <a class="reference navigator" href="{{ prev.link|e }}"><i class="fa fa-arrow-left"></i>{{ prev.title }}</a>
                        {% endif %}
                        {% if next %}
                            <a class="reference navigator" href="{{ next.link|e }}">{{ next.title }}<i class="fa fa-arrow-right"></i></a> 
                        {% endif %}
                    </div>
                    <a class="reference navigator" style="float:left;" href="{{ pathto(master_doc) }}/genindex.html"><i class="fa fa-book"></i>Index</a>                   
                </div>
        </div>
        {% if theme_has_right_sidebar %}
            <div class="sidebar-right">
                <h2>Page Contents</h2>
                {{ toc }}
                {% if prev %}
                    <h2>Previous topic</h2>
                    <a href="{{ prev.link|e }}">{{ prev.title }}</a>
                {% endif %}
                {% if next %}
                    <h2>Next topic</h2>
                    <a href="{{ next.link|e }}">{{ next.title }}</a>
                {% endif %}
                <h2>This Page</h2>
                <a href="{{ pathto('_sources/', 1) }}{{ sourcename }}">Show source</a>
            </div>
        {% endif %}
        <div style="clear:both"></div>
    </div> 
{%- endblock %}

{# do not display relbars nor sidebars #}
{% block relbar1 %}{% endblock %}
{% block relbar2 %}{% endblock %}
{% block sidebar1 %}{% endblock %}
{% block sidebar2 %}{% endblock %}
{% block footer %}{% endblock %}
